@tailwind base;
@tailwind components;
@tailwind utilities;

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header, main, footer {
  padding: 10px;
}

header {
  flex: 3;
}

main {
  flex: 24;
}

footer {
  flex: 1;
}
